@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    color: #000;
}


nav {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

a {
    font-size: clamp(1.3rem, 3vw, 2rem);
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    margin: 1rem;
}

/* Hover Effect */

a {
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    background-color: #8ea7c6;
    transition: 0.4s ease-out;
    width: 0%;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -3px;
}

a:hover::before {
    width: 100%;
}